<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Model-Vis can help us to understand the shape of the model and compare it to the shape of the data.
	It allows to see the fit of the model and understand where the fit can be improved. It also allows us to better understand the parameters in the model and
	 how the model changes when the parameters change as well as how the parameters changes when the input data changes.">
	<meta name="author" content="Amit Kapoor">

	<title>Model Visualisation  ~ Amit Kapoor</title>

	<link type="text/css" rel="stylesheet" href="/assets/css/style.css" />
	<!-- Twitter Card -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@amitkaps">
	<meta name="twitter:creator" content="@amitkaps">
	<meta name="twitter:title" content="Model Visualisation">
	<meta name="twitter:url" content="http://modelvis.amitkaps.com">
	<meta name="twitter:description" content="Model visualisation (model-vis) can help us to understand the shape of the model and compare it to the shape of the data.
	It allows to see the fit of the model and understand where the fit can be improved. It also allows us to better understand the parameters in the model and
	 how the model changes when the parameters change as well as how the parameters changes when the input data changes.">
	<meta name="twitter:image" content="http://modelvis.amitkaps.com/assets/img/modelvis.png">


</head>

<body>

	<header>
		<p>
		<a href="\">home</a> | <a href="http://amitkaps.com"> amitkaps.com </a>
		</p>
	</header>

	<article>
